body {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  margin: 0;
  margin-bottom: 2em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.7);
  color: antiquewhite;
}

h1 {
  margin: 0;
  padding: 0;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  border: 1px solid burlywood;
}

.gen-info {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.gen-info input {
  padding: 5px 10px;
}
