body {
  margin: 0;
  padding: 0;
}

.App {
  width: 40%;
  margin: 0 auto;
  border: 1px solid burlywood;
  text-align: center;
}

.gen-info > * {
  display: block;
  margin-bottom: 0.5em;
}

.gen-info button {
  margin: 0 auto;
  padding: 5px 10px;
  background: brown;
  color: white;
  border: none;
  cursor: pointer;
}
